# tell the port number on which the server will run
PORT= 3000
# tell the environment in which the server is running
NODE_ENV=production
# tell the MongoDB connection URI
MONGO_URI=mongodb://localhost:27017/EventPluse
# tell the secret key used for signing JWT tokens
JWT_SECRET=8f9a2b4c1e3d5f7a9b0c2d4e6f8a1b3c5d7e9f0a2b4c6d8e0f1a3b5c7d9e1f2
JWT_EXPIRE=30d